{% extends "base.html" %}
{% block title %}Jelszó beállítása{% endblock %}
{% block content %}

<div class="row justify-content-center m-0">
    <div class="col-12 col-md-8 col-lg-6 p-0">
        <h3 class="m-3 text-center" style="font-size:28px; color:#00754B">Add meg az új jelszavad</h3>
        {% if form.errors %}
            <div class="row justify-content-center m-0 text-center">
                <div class="col-10 col-md-8 p-0">
                    <!-- error messages -->
                    {% for field, error in form.errors.items %}
                    <div class="alert alert-danger mb-3 p-1" role="alert">
                        {{ error|striptags }}
                    </div>
                    {% endfor %}
                </div>
            </div>
        {% endif %}

        <div class="row m-3 justify-content-center">
            <div class="col-12 col-md-8 p-0">
                <form method="POST">
                    {% csrf_token %}    
                    {{ form.new_password1.label }}:
                    {{ form.new_password1 }}
                    
                    {{ form.new_password2.label }}:
                    {{ form.new_password2 }}
                    <br>
                    <div class="m-0 text-center">
                        <input type="submit" value="küldés" class="btn w-50" style="background-color: #00754B!important; color: #fff!important">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


    

{% endblock content %}