{% extends "base.html" %}
{% block title %}Scofish - Új Jelszó Beállítása{% endblock %}
{% block content %}
<div class="row m-3 justify-content-center">
    <div class="col-12 p-0 text-center">
    <h3 class="mb-3" style="font-size:28px; color:#00754B">Add meg az új jelszavad</h3>
    {% if form.errors %}
        <!-- error messages -->
        {% for field, error in form.errors.items %}
        <div class="alert alert-danger mb-3 p-1" role="alert">
            {{ error|striptags }}
        </div>
        {% endfor %}
    {% endif %}
    </div>

    <div class="col-12 p-0">
        <form method="POST">
            {% csrf_token %}    
            {{ form.new_password1.label }}:
            {{ form.new_password1 }}
            
            {{ form.new_password2.label }}:
            {{ form.new_password2 }}
            <br>
            <div class="m-0 text-center">
                <input type="submit" value="küldés" class="btn" style="background-color: #00754B!important; color: #fff!important">
            </div>
        </form>
    </div>
</div>

{% endblock content %}