{% extends "base.html" %}
{% block title %}Registration{% endblock %}
{% block content %}

<div class="row mx-3 my-3 justify-content-center text-center">
    <div class="card px-1" style="width: 18rem;">
        <h3 class="my-2">Sign up</h3>
        <div class="card-body">
            <form method="POST" action="">
                {% csrf_token %}
                <div class="input-group mb-2">
                    <span class="input-group-text">
                        <i class="bi bi-person"></i>
                    </span>
                    {{ form.username }}
                </div>
                <div class="input-group mb-2">
                    <span class="input-group-text">
                        <i class="bi bi-envelope"></i>
                    </span>
                    {{ form.email }}
                </div>
                <div class="input-group mb-2">
                    <span class="input-group-text">
                        <i class="bi bi-key"></i>
                    </span>
                    {{ form.password1 }}
                </div>
                <div class="input-group mb-2">
                    <span class="input-group-text">
                        <i class="bi bi-key"></i>
                    </span>
                    {{ form.password2 }}
                </div>
                <br>
                <input type="submit" class="btn btn-primary w-100" value="Sign up">
            </form>
            
            <!-- error messages -->
            {% for field, error in form.errors.items %}
            <div class="alert alert-danger my-3 p-1" role="alert">
                {{ error|striptags }}
            </div>
            {% endfor %}

            <div class="row alert m-0">
                <div class="col-sm-12">
                    Already have an account?
                </div>
                <div class="col-sm-12">
                    <a href="{% url 'auth:login' %}" class="alert-link">Log in</a>
                </div>
            </div> <!-- alert end -->
        </div><!--card body end-->
    </div><!--card end-->
</div>

{% endblock content %}