FishingProject/secret.py
FishingProject/__pycache__
authentication/__pycache__
authentication/migrations/__pycache__
.vscode
new_trip/__pycache__
new_trip/migrations/__pycache__
media/catch_images/
trips_feed/__pycache__
trips_feed/migrations/__pycache__
catch_details/__pycache__
catch_details/migrations/__pycache__
stats/__pycache__
stats/migrations/__pycache__
FishingProject/.env
user_profile/__pycache__
user_profile/migrations/__pycache__