{% extends "base.html" %}
{% load static %} <!-- It needs for jquery.formset reference -->
{% block title %}Scofish - Hookbait{% endblock %}
{% block content %}
<div class="row mx-3 my-3 justify-content-center text-center">
    <div class="card p-2">
        <div class="card-body p-2">
            <form method="POST">
                {% csrf_token %}
                
                    {{ formset.management_form }}
                    {{ formset.non_field_errors }}
                    {% for f in formset.forms %}
                    <div class="formset_row row py-1 ">
                        <div class="col-9 ">
                        {% for field in f.visible_fields %}
                        <div class="">
                            {% if form.instance.pk %}{{ form.DELETE }}{% endif %} <!-- the instance will be deleted if it exists in the database -->
            
                            {% if forloop.first %}
                            {% for hidden in f.hidden_fields %}
                                {{ hidden }}
                                {{ hidden.errors }}
                            {% endfor %}
                            {% endif %}
            
                            
                            {{ field.errors }}
                            {{ field }}
            
                        </div>
                        {% endfor %}
                        </div>
                        <div class="col-3 align-self-center delete-container"></div>
                        <div class="add-container"></div>
                    </div>
                    {% endfor %}
                
                <input type="submit" class="btn btn-primary w-75" value="Mentés">
            </form>
        </div>
    </div>
</div>

<!-- scripts for formset -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="{% static 'js/jquery.formset.js' %}"></script>
<script type="text/javascript">
    $('.formset_row').formset({
        addText: 'Hozzáad',
        deleteText: 'Eltávolít',
        prefix: '{{ formset.prefix }}',
        addContainerClass: 'add-container',
        deleteContainerClass: 'delete-container',
    });
</script>
{% endblock content %}