{% extends "base.html" %}
{% block title %}Scofish - Statisztika{% endblock %}
{% block content %}

<div class="row justify-content-center m-0">
    <div class="col-12 col-md-7 col-lg-5 p-0">
        <!-- Catch summary -->
        <div class="row justify-content-center text-center my-3 mx-2">            
            <h2 class="mb-3" style="font-weight: 600; font-size:28px; color:#00754B">📝 Összegzés</h2>
            <table class="table table-light table-hover mb-1" >
                <thead>
                <tr>
                    <th scope="col">Súly (kg)</th>
                    <th scope="col">Darab</th>
                    <th scope="col">Fogásátlag (kg)</th>
                </tr>
                </thead>
                <tbody>
                <!-- If there is no catch yet. -->
                {% if catches_num == 0 %}
                <tr>
                    <td>0</td>
                    <td>0</td>    
                    <td>0</td>
                </tr>
                {% else %}
                <tr>
                    <td>{{ weight_sum }}</td>
                    <td>{{ catches_num }}</td>    
                    <td>{{ weight_avg|floatformat:2 }}</td>
                </tr>
                {% endif %}
                </tbody>
            </table>
        </div>

        <!-- Ranking fishermen -->
        <div class="row justify-content-center text-center mb-3 mx-2">
            <h2 class="mb-3" style="font-weight: 600; font-size:28px; color:#00754B">🏅 Rangsor</h2>
            <table class="table table-light table-hover mb-1">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Horgász</th>
                    <th scope="col">Súly (kg)</th>
                    <th scope="col">Darab</th>
                </tr>
                </thead>
                <tbody>
                <!-- If there is no catch yet. -->
                {% if catches_num == 0 %}
                {% for fisherman in fishermen_catches %}
                <tr>
                    <th scope="row"></th>
                    <td>{{ fisherman }}</td>
                    <td>0</td>
                    <td>0</td>
                </tr>
                {% endfor %}
                {% else %}
                {% for fisherman in fishermen_catches %}
                <tr>
                    <th scope="row">
                    <!-- medals for the first 3 places -->
                    {% if forloop.counter == 1 %}
                        🥇
                    {% elif forloop.counter == 2 %}
                        🥈
                    {% elif forloop.counter == 3 %}
                        🥉
                    {% else %}

                    {% endif %}
                    </th>
                    <td>
                        {{ fisherman }}</td>
                    <td>{{ fisherman.sum_catch|default_if_none:0 }}</td> <!-- If value is None, it'll dipslay 0. -->
                    <td>{{ fisherman.num_catch }}</td>
                </tr>
                {% endfor %}
                {% endif %}
                </tbody>
            </table>
        </div>

        <!-- Max catch -->
        <div class="row justify-content-center text-center mb-3 mx-2">
            <h2 class="mb-3" style="font-weight: 600; font-size:28px; color:#00754B">🏆 Max fogás</h2>
            <table class="table table-light table-hover mb-1">
                <thead>
                <tr>
                    <th scope="col">Horgász</th>
                    <th scope="col">Súly (kg)</th>
                </tr>
                </thead>
                <tbody>
                    <!-- If there is no catch yet. -->
                    {% if catches_num == 0 %}
                    <tr>
                        <td>-</td>
                        <td>0</td>
                    </tr>
                    {% else %}
                    {% for catch_m in catch_max %}
                    <tr>
                        <td>{{ catch_m.fisherman }}</td>
                        <td>{{ catch_m.weight }}</td>
                    </tr>
                    {% endfor %}
                    {% endif %}
                </tbody>
            </table>
        </div>

        <!-- Chart -->
        {% if catches_num == 0 %}

        {% else %}
        <div class="row justify-content-center text-center mb-3 mx-2">
            <div class="col-10 col-md-8  p-0">
                <label class="mb-3" style="font-weight: 600; font-size:28px; color:#00754B">
                    Bevált csalik
                    <span class="px-1 tooltipClass" data-bs-placement="top" title="Kattints a diagramra és láthatod, hogy a csalik hány halat eredményztek."><i class="bi bi-info-circle-fill" style="font-size: 18px; color:#3B3B3B"></i></span>
                </label>
                <canvas id="hookbaitsChart" class="p-0 mb-2"></canvas>
            </div>
        </div>
        {% endif %}

    </div> <!-- col end -->
</div> <!-- row end -->



<script>
    const myChart = document.getElementById('hookbaitsChart');

    // Global options
    Chart.defaults.font.size = 14;
    Chart.defaults.color = '#3B3B3B';
    Chart.defaults.family = 'Chakra Petch';

    
    const pieChart = new Chart(myChart, {
        type: 'pie',
        data: {
            labels: [
            {% for catch in catches %}
                '{{ catch.hookbait_name }}', 
            {% endfor %}
            ],
            datasets: [{
                label: 'Population',
                data: [
                {% for catch in catches %}
                    '{{ catch.num_hookbait }}', 
                {% endfor %}
                ],
                backgroundColor: [
                    '#00754B',
                    '#3B3B3B',
                    '#E3E0F3',
                    "#99E7E9",
                    '#008288',
                    '#ACA7CB',
                    '#FFDFCA',
                    '#FFE694',
                    '#D19F9C',
                    '#FF00E9',
                    '#8083FF',
                    '#6A6A6A',
                ]
            }],
        },
        options: {
            plugins: {
                title: {
                    display: false,
                    text: '',
                },
                legend: {
                    display: true,
                    position: 'bottom',
                    padding: {
                        top: 10,
                        bottom: 5,
                    },
                    //align: 'start'
                },
                tooltip: {
                    enabled: true,
                }
            }
        },
    })
</script>
{% endblock content %}