{% extends "base.html" %}
{% block title %}Fogás törlése{% endblock %}


{% block content %}

<div class="row justify-content-center m-0">
    <div class="col-12 col-md-6 col-lg-4 p-0">
        <div class="row justify-content-center mx-3 my-3">
            <div class="row justify-content-center text-center mx-0 mb-3 p-0">
                <form method="POST" action="">
                    {% csrf_token %}
                    <div class="col-12">
                        <h2>Biztosan törölni szeretnéd a fogást?</h2>
                    </div>
                    <div class="col">
                        <a class="btn" style="background-color: #00754B; color:#fff" href="{% url 'catch_details:catch' object.catch_id %}">Nem</a>
                        <button class="btn" style="background-color: #3B3B3B; color:#fff" type="submit">Igen</button>
                    </div>
                </form>
            </div>
            <div class="card p-3 border-shadow">
                {% if catch.image %}
                    <img src="{{ catch.image.url }}" class="card-img-top catch-pic" alt="Fogás rögzítve a horgász alkalmazásban.">        
                {% endif %}
                <div class="card-body p-0 m-0 mt-3">
                    <h5 class="mb-2" style="color: #00754B; font-size: 18px; font-weight:600">🐟 {{ catch.fish_type }}, {{ catch.weight }} kg{% if catch.length %}, {{ catch.length }} cm{% endif %}</h5>
                    <p class="mb-2" style="color:#00C6CF; font-weight:600; font-size:16px">🧍 {{ catch.fisherman }}</p>
                    <p class="mb-2" style=" font-weight:600; font-size:16px">🧆 {{ catch.hookbait_name }}</p>
                    <div class="d-flex mb-2">
                        <div class="me-auto" style="color: #6A9A8B; font-weight:500; font-size: 16px;">📅 {{ catch.datetime|date:"Y.m.d., H:i" }}</div>
                    </div> <!-- flex end -->
                </div> <!-- Card-body end -->   
            </div> <!-- Card end -->
        </div> <!-- row end-->
    </div> <!-- col end -->
</div> <!-- row end -->






{% endblock content %}