/* Colors 
#FFFFFF - background, text
#00754B - navbar, button 
#3B3B3B - text (black)
#C8FCEA - secondary color
#6A9A8B - secondary color
#00C6CF - a kind of blue
#f1f0f0 - grey
*/
body {
    background-color: #fff;
    font-family: 'Chakra Petch', sans-serif;
    padding-top: 54px; /*it is needed because I use fixed-top navbar*/
    color: #3B3B3B;
}

/* NAVBAR*/
.navbar  {
    background-color: #00754B;
    font-weight: 500;
}

/* Swipping Navbar */
.sidebar, .overlay {
    position: fixed;
    top: 0;
    bottom: 0; /* navbar and overlay are covering the whole screen */
}

.sidebar {
    left: -100%;
    max-width: 210px;
    transition: all ease 0.25s;
    overflow-y: auto;
    z-index: 1032;
    background-color: #00754B;
}

.overlay {
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    /*background-color: rgba(47, 50, 58, 0.75);*/
    visibility: hidden;
    z-index: 1031;
}

.main-navigation.active .sidebar {
    left: 0;
}
.main-navigation.active .overlay {
    visibility: visible;
}

@media (min-width: 992px) {
    .sidebar {
        position: relative;
        top: auto;
        bottom: auto;
        left: auto;
        /*flex-direction: row;*/
        max-width: 100%;
        transform: none;
        transition: none;
        overflow-y: visible;
        z-index: auto;
    }
}

/* inline form for HookBaits */
.add-row {
    text-decoration: none;
}

/* Feed Page, Trip cards */
.trip-card {
    border-radius: 20px;
    box-shadow: 0 0 7px 4px rgba(0,0,0,0.1);
}

/* Catch page */
.catch-card {
    border-radius: 20px;
    box-shadow: 0 0 7px 3px rgba(0,0,0,0.1);
}

.catch-pic {
    border-radius: 20px;
    box-shadow: 0 0 7px 2px rgba(0,0,0,0.1);
}