{% extends "base.html" %}
{% block title %}Scofish{% endblock %}
{% block content %}


{% for trip in trips  %}
    
    <div class="row justify-content-center mx-3 my-3">
        <div class="card p-3" style="width: 28rem;">
            <a href="{% url 'new_trip:trip_details' trip.trip_id %}" class="text-decoration-none text-reset">
                <div class="card-body p-0">
                    <h5 class="fw-bold m-0">{{ trip.lake }}</h5>
                    <div class="row my-1">
                    <!-- If the starting date and ending date are the same then it shows only the strating one -->
                    <span class=""><small class="text-muted">{{ trip.s_date|date:"SHORT_DATE_FORMAT" }} 
                    {% if not trip.s_date|date:"SHORT_DATE_FORMAT" == trip.e_date|date:"SHORT_DATE_FORMAT" %}
                    - {{ trip.e_date|date:"SHORT_DATE_FORMAT" }}
                    {% endif %}
                    </small></span>
                    </div>
                    
                    <div class="">
                        🎣 Összfogás: <span class="badge bg-primary rounded-pill">{{ trip.total_catch_weight }}</span> kg   
                    </div>

                    <!-- Showing whether trip is closed or in progress -->    
                    {% if current_date|date:"m/d/Y, H:s" > trip.e_date|date:"m/d/Y, H:i" %}
                    <span class="badge bg-danger float-end mt-1">Lezárult</span>
                    {% else %}
                    <span class="badge bg-success float-end mt-1">Folyamatban</span>
                    {% endif %}                    
                    
                </div> <!-- card-body end -->
            </a>
        </div> <!-- card end -->
    </div> <!-- row end -->
{% endfor %}
    

{% endblock content %}