<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Scofish">

    <title>Scofish | {% block title %} {% endblock %} | Horgász Alkalmazás</title>

    <meta name="description" content="A Scofish egy horgász alkalmazás, mellyel könnyedén számon tarthatod a fogásaidat és versenyezhetsz a barátaiddal, hogy ki fog több halat.">

    <meta name="keywords" content="horgász alkalmazás, horgász applikáció, alkalmazás horgászoknak, online fogási napló">

    <link rel="canonical" href="{{ request.path }}">

    <link rel="home" href="{% url 'trips_feed:home' %}">

    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-K732LLK');</script>
    <!-- End Google Tag Manager -->

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

    <!-- Link for Bootstrap Icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.0/font/bootstrap-icons.css">

    <!-- Flatpickr link -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <!-- script for Hungarian language -->
    <script src="https://npmcdn.com/flatpickr/dist/flatpickr.min.js"></script>
    <script src="https://npmcdn.com/flatpickr/dist/l10n/hu.js"></script>
    
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!-- Chart.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.4.1/chart.min.js"></script>

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@1,600&family=Chakra+Petch&display=swap" rel="stylesheet">
    
    <!-- CSS link -->
    {% load static %}
    <link href="{% static '/css/style.css' %}" rel="stylesheet" type="text/css"/>
  </head>
  <body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-K732LLK"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    
    <nav class="navbar navbar-expand-lg navbar-dark py-1 fixed-top main-navigation" >
      <div class="container-fluid">
        <a class="navbar-brand order-2 order-lg-1 me-auto me-lg-2 ms-1 ms-lg-0 p-1" href="{% url 'trips_feed:home' %}" id="BrandLogo">Scofish</a>
        <button class="navbar-toggler" type="button">
          <span class="navbar-toggler-icon"></span>
        </button>
        <!-- overlay -->
        <div class="overlay d-flex d-lg-none"></div>

        <div class="order-lg-2 d-flex flex-column flex-lg-row w-100 bp-3 pb-lg-0 sidebar">
          <ul class="navbar-nav me-lg-auto mt-2 mt-lg-0 mx-3 mx-lg-0 order-2 order-lg-1">

            <li class="nav-item">
              <a class="nav-link px-3 px-lg-2 active" aria-current="page" href="{% url 'trips_feed:home' %}">Főoldal</a>
            </li>
            <li class="nav-item">
              <a class="nav-link px-3 px-lg-2 active" aria-current="page" href="{% url 'trips_feed:feed' %}">Horgászatok</a>
            </li>
            <li class="nav-item">
              <a class="nav-link px-3 px-lg-2 active" aria-current="page" href="{% url 'new_trip:create_trip' %}">Új Horgászat</a>
            </li>
            <li class="nav-item">
              <a class="nav-link px-3 px-lg-2 active" aria-current="page" href="{% url 'auth:contact' %}">Kapcsolat</a>
            </li>
          </ul> <!-- Left navbar-nav end -->

          <ul class="navbar-nav mt-2 mt-lg-0 mx-3 mx-lg-0 order-1 order-lg-2">
            {% if request.user.is_authenticated %}
            <li class="nav-item dropdown order-lg-3 pt-2 p-lg-0">
              <a class="nav-link px-3 px-lg-2 py-1 dropdown-toggle active fst-italic fs-5" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                {{request.user.username}}
              </a>
              <ul class="dropdown-menu dropdown-menu-lg-end" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="{% url 'user_profile:profile' request.user.fisherman.fisherman_id %}">Profil</a></li>
                <li><a class="dropdown-item" href="{% url 'auth:logout' %}">Kilépés</a></li>
              </ul>
            </li>
            {% endif %}
            
            {% if not request.user.is_authenticated %}
            <li class="nav-item order-lg-3 mt-2 m-lg-0">
              <a class="nav-link px-3 px-lg-2 py-1 py-lg-2 active" href="{% url 'auth:register' %}">Regisztráció</a>
            </li>
            <li class="nav-item order-lg-4 mb-2 m-lg-0">
              <a class="nav-link px-3 px-lg-2 py-1 py-lg-2 active" href="{% url 'auth:login' %}">Belépés</a>
            </li>
            {% endif %}            
          </ul> <!-- Right navbar-nav end -->
          
        </div>
        <!-- It shows the user's ongoing trip -->
        {% for trip in  request.user.fisherman.trips_set.all %}
          {% if trip.is_active %}
            <a class="btn navbar-brand order-3 order-lg-3 p-1 m-0  mx-lg-2" style="background-color: #f1f0f0!important; color: #00754B!important; font-size: 17px" href="{% url 'new_trip:trip_details' trip.trip_id %}">Aktuális Horgászat</a>
          {% endif %}
        {% endfor %}
      </div>
    </nav> <!-- navbar end -->
    
    <div class="container-fluid p-0" >
      {% block content %}
      
      {% endblock content %}
    </div>

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
    <!-- Enable tooltips -->
    <script>
      const tooltips = document.querySelectorAll('.tooltipClass')
      tooltips.forEach( t => {
          new bootstrap.Tooltip(t)
      })
    </script>
    <!-- Flactpickr script -->    
    <script>
      // This code activates flatpickr on fields with the 'datetimefield' class when the document has loaded
      window.addEventListener("DOMContentLoaded", function () {
          flatpickr(".datetimefield", {
              enableTime: true,
              dateFormat: "Y-m-d H:i",
              allowInput: false,
              disableMobile: true,
              time_24hr: true,
              position: 'auto',
              locale: 'hu'
          });
      });
    </script>
    
    <!-- Swiped-events -->
    <script src="{% static 'js/swiped-events.js' %}"></script>
    <!-- JS code for navbar -->
    <script src="{% static 'js/script.js' %}"></script>
  </body>
</html>